.container {
    background-color: #fffdfd;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #cccccc4f;
  }

  .inLine {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center; /* Adjust as needed */
  
    margin-bottom: 1%;
    padding: 5px;
    font-size: 16px;
  }
  .fieldInput {
    width: 100%;
    margin-bottom: 1%;
    padding: 5px;
  }
  
  .inLine .MuiAutocomplete-root {
    flex: 1; /* To make both Autocomplete components occupy equal space */
    margin-right: 10px; /* Adjust spacing between Autocomplete components */
  }

  .image-placeholder {
    margin-top: 10px;
    width: 400px;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    align-items: center;
    overflow: hidden; /* Ensure that the image is clipped if it exceeds the box size */
    background-color:#f9fafb;
  }
.zoomable-image {
  width: 100%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  max-width: none; /* Remove max-width */
  max-height: none; /* Remove max-height */
  transition: transform 0.2s ease;
}

.zoomable-image:hover {
  transform: scale(1.2);
}


.wrapImg{
  border-radius: 7px;
  border: 1px solid #cccccc4f;
  background-color: #fffdfd;
  padding: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.imageB {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


.dateContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dateStyle label{
  
  color: rgb(0, 130, 251) !important;
  font-size: 25px;
  margin-bottom:3%;

}
.dateStyle input {
  color: rgb(0, 130, 251) !important;
  font-size: 20px;
  padding-top:5%;

}
.dateStyle .MuiInput-underline:before {
  border-bottom: none;
}