:root {
  height: 100vh;
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.leaflet-container {
  height: 100%;
}

.MuiFormControl-root .css-1869usk-MuiFormControl-root {
  width: 48%;
}

#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 7px;
  padding-right: 0.2rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}


.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom{
  border-top-left-radius: 20px;
  border-bottom-left-radius:20px;
}


.diveDiteMapContainer{

  margin: 1%;
}