.container2 {
  background-color: hsl(210, 50%, 98%);
  margin-right: 60px;
  margin-left: 60px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #cccccc4f;
  padding: 2em;
}

.container2 .addSiteButton {
  font-family: sans-serif;
  margin: 1px;
}
.p {
  font-size: 1em;
  color: #212b36;
  font-weight: 400;
  padding-left: 1.3%;
  padding-right: 1%;
}

.addSiteButton {
  padding: 10px 20px;
  font-size: 50px;
  border: none;
  border-radius: 20px;
  margin-top: 15px;
}

.siteDescription {
  width: 85%;
  height: 15em;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: sans-serif;
  resize: vertical;
  margin-top: 13px;
  font-size: 15px;
  margin-left: 1.3%;
  font-weight: 400;
}

.siteDescription:focus {
  outline: none;
  height: 15em;
  border-color: #007bff;
  font-size: 15px;
  font-weight: 400;
}


.TextField {
  margin: 10px;
}

.Alert {
  height: 4em;
  font-size: large;
  text-align: center;
  align-items: center;
  background-color: rgb(180, 214, 162);
}

.ButtonGroupType {
  display: flex;
  
}

.type{
  display: flex;
}
#AddDiveSiteTitle{
  margin-left: 60px;
}